*{
	box-sizing:border-box;
}

.page{

	margin: 0.8em auto;
	max-width: 60em; /* 960px */	
	border: 1px solid #0f0;
	
}

/*

大量网站使用clearfix 类或类似方法
清除浮动。本书不会对所有这些代码进行详细解释，
因为有些复杂。不过请将它常备手头，复制到每一
个需要用到它的网站的样式表中去

对容器添加clearfix 类会清除浮动的
main 和附注栏元素，从而让容器的高度等于两列
中较高的那一个的高度

*/
/*
.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}
.clearfix {
*zoom: 1;
}*/

.test{
	width:50%;
	border: 1px solid orange;
	padding:1em 0 0.3em;
	display: flex;
	/*内容两侧间隔相等*/
	justify-content:space-around;
	/*换行，第一行在上方*/
	flex-wrap:wrap;
	margin:0 auto;
	
}

.ge {
	
	height:0;
	width:30%;
	padding-bottom:30%;/*等于格子的宽度*/
	margin-bottom: calc(5%);
	background:orange;
	border-radius:8%;

}

.myButton{
	
	margin:0 auto;
	width:60%;
	display: flex;
	border: 1px solid orange;
	justify-content:center;
	/*竖排*/
	flex-direction:column;
}

.myButton input {
	margin:1em;
	padding:1%;
	border: 1px solid orange;
	color:orange;
	background:transparent;
	border-radius:0.3em;
	font-size: 1.3em;
}

.myButton input:hover {
	color: #fff;
	background:orange;
	cursor: pointer;
}
